// resolutions
$mobile-width: 320px;
$portrait-width: 768px;
$landscape-width: 940px;
$tablet-width: 1200px;
$desktop-width: 1366px;
$max-width: 1600px;

// sizes
$sizeXXS: 5px;
$sizeXS: 10px;
$sizeS: 15px;
$sizeM: 20px;
$sizeL: 25px;
$sizeXXL: 50px;
$borderWidth: 3px;

// color
$mintBG: #8996a6;



$mintBG: #90a69a;
$white: rgba(255, 255, 255, 1);
$orangeBG: #FD6A00;
$greenBG: #474809;
$cherryBG: #A02119;
$yellowBG: #ffb21c;
$linkHover: #FFB21C;
$markerHover: #BF2B21;
$textColor: #FCA73B;
$black: rgba(0, 0, 0, 1);
$black-50: rgba(0, 0, 0, 0.5);
$black-90: rgba(0, 0, 0, 0.9);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);

// fonts
$text-city: 49px;
