<header class="page-header">
  <!--<div class="page-header__top">-->
    <a href="#" class="page-header__logo  logo">
      <svg width="154" height="64"><use xlink:href="#header-logo"></use></svg>
    </a>
    <button type="button" class="page-header__btn  page-header__btn--open  page-header__btn--no-js">
      <span class="visually-hidden">Открыть меню<!--Закрыть меню--></span>
    </button>
    <nav class="page-header__nav  main-nav">
      <ul class="main-nav__list  site-list  site-list--closed">
        <li class="main-nav__item  site-list__item">
          <a href="#" class="underlined">Каталог</a>
          <!--<span class="underlined">Каталог</span>-->
          <!--<ul class="site-list__dropdown">
            <li class="site-list__dropdown-item">
              <a href="#">Новинки</a>
            </li>
            <li class="site-list__dropdown-item">
              <a href="#">Сливочное</a>
            </li>
            <li class="site-list__dropdown-item">
              <a href="#">Щербеты</a>
            </li>
            <li class="site-list__dropdown-item">
              <a href="#">Фруктовый</a>
            </li>
            <li class="site-list__dropdown-item">
              <a href="#">Мелорин</a>
            </li>
          </ul>-->
        </li>
        <li class="main-nav__item  site-list__item">
          <a href="#" class="underlined">Доставка и оплата</a>
        </li>
        <li class="main-nav__item  site-list__item">
          <a href="#" class="underlined">О Компании</a>
        </li>
      </ul>

      <ul class="main-nav__list  user-list  user-list--closed">
        <li class="main-nav__item  user-list__item  user-list__item--search">
          <a href="#" class="user-list__link  user-list__search" aria-label="Поиск">
            Поиск
          </a>
        </li>
        <li class="main-nav__item  user-list__item">
          <a href="#" class="user-list__link  user-list__login">
            Вход
          </a>
        </li>
        <li class="main-nav__item  user-list__item">
          <a href="#" class="user-list__link  user-list__cart">
            Пусто
          </a>
        </li>
      </ul>
    <!--</nav>
  </div>
  <div class="page-header__bottom">-->
    <p class="page-header__contacts  contacts">
      С 10 до 20, ежедневно
      <span class="page-header__phone">8 812 450-25-25</span><!--LINK!!!!!!!!-->
    </p>
  <!--</div>-->
</nav>
</header>