<section class="promo">
  <div class="swiper-container  promo__wrap">
    <ul class="swiper-wrapper  promo__list">
      <li class="swiper-slide  promo__item  promo__item--active">
      	<div class="promo__img-wrap">
          <img  class="promo__img" src="img/promo-mint-bg-mobile.png" width="1045" height="881" alt="Крем-брюле и пломбир с малиновым джемом">
          <!--<picture class="promo__pic">
            <source class="promo__img" media="(min-width: 768px)"
              srcset="img/promo-mint-bg-mobile.png">
            <img  class="promo__img" src="img/promo-mint-bg-mobile.png" width="1045" height="881" alt="Крем-брюле и пломбир с малиновым джемом">
          </picture>-->
        </div>
        <p class="promo__heading">
          Крем-брюле и пломбир с&nbsp;малиновым джемом
        </p>
        <button type="button" class="btn  promo__btn  promo__focusable">
          Давайте оба!
        </button>
      </li>
      <li class="swiper-slide  promo__item">
      	<div class="promo__img-wrap">
      	  <img class="promo__img" src="img/promo-bluegray-bg-mobile.png" width="1065" height="859">
      	</div>
        <p class="promo__heading">
          Шоколадный пломбир и&nbsp;лимонный сорбет
        </p>
        <button type="button" class="btn  promo__btn  promo__focusable">
          Давайте оба!
        </button>
      </li>
      <li class="swiper-slide  promo__item">
      	<div class="promo__img-wrap">
      	  <img class="promo__img" src="img/promo-coffee-bg-mobile.png" width="1079" height="854">
      	</div>
        <p class="promo__heading">
          Пломбир с помадкой и&nbsp;клубничный щербет
        </p>
        <button type="button" class="btn  promo__btn  promo__focusable">
          Давайте оба!
        </button>
      </li>
    </ul>
  </div>
  <div class="swiper-pagination  swiper-pagination--promo  promo__pagination"></div>
</section>