.cart__form {
  width: 100%;
  padding: 15px 15px;/*20px 15px*/
  box-sizing: border-box;

  color: #323232;
  font-size: 13px;
  line-height: 16px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0px #333333
}

.cart__list {
  margin: 0;
  padding: 0;
  list-style: none;

  border-bottom: 1px solid #cacac7;
}

.cart__list-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  /*margin-bottom: 20px;*/
  padding: 10px 0;
  
}

.cart__btn-wrap {
  padding: 5px 0;
}
.cart__btn {
  position: relative;

  display: block;
  flex-shrink: 1;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  padding: 0;

  font-size: 0;


  border: none;
  background-color: transparent;

  cursor: pointer;
  /*background-color: rgba(180, 20, 120, 0.5);*/
}

.cart__btn::before,
.cart__btn::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 3.5px;

  width: 15px;
  height: 2px;

  background-color: #221f1f;
}

.cart__btn::before {
  transform: rotate(45grad);
}

.cart__btn::after {
  transform: rotate(-45grad);
}

.cart__btn:hover::before,
.cart__btn:hover::after,
.cart__btn:focus::before, 
.cart__btn:focus::after {
  background-color: #f6b5a5;
}

.cart__btn:active::before, 
.cart__btn:active::after {
  background-color: #d07058;
}

.cart__img-wrap {
  flex-shrink: 0;
  /*width: 61px;*/
  margin: 0 8px;
  box-sizing: border-box;

  border-radius: 50%;
  background-color: rgba(10, 170, 200, 0.5);
  overflow: hidden;
}

.cart__img {
  display: block;
  width: 100%;
  width: 33px;
  height: auto;
}

.cart__title {
  flex-shrink: 1;/*1*//*min-width: */
  width: calc(100% - 49px - 20px);
  padding: 10px 5px;
  box-sizing: border-box;
}

.cart__calculation {
  display: flex;
  flex-basis: 135px;
  flex-shrink: 0;
  justify-content: center;


  padding: 10px 5px;
  box-sizing: border-box;
}

.cart__unit {
  margin-left: 3px;
}
.cart__multiply {
  margin-left: 3px;
  margin-right: 3px;
}
.cart__currency {
  margin-left: 3px;
}
.cart__result {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 65px;
  flex-wrap: nowrap;
  padding: 10px 0 10px 5px;
  box-sizing: border-box;
}

.cart__total {
  padding: 10px 0;

  font-weight: 700;
  font-size: 15px;
  color: #323232;
  text-align: right;
}

.cart__submit {
  display: block;
  margin-left: auto;
  padding: 10px 12px;
}

@media (min-width: 600px) {
  .cart__popup {
    left: -310px;
    top: 100%;

    width: 540px;
    padding-top: 8px;
    /*transform: translateX(-40%);*/
  }
  .cart__list-line {
    flex-wrap: nowrap;
  }
  .cart__title {
    min-width: 180px;
    flex-basis: 227px;
  }
  .cart__total {
    padding: 17px 0;
  }
  .cart__submit {
    display: block;
    margin-left: auto;
    padding: 13px 15px;
  }
}

@media (min-width: 900px) {
  .cart__popup {
    left: auto;
    top: 100%;
    right: 0;

    width: 540px;
    padding-top: 5px;
  }
}
