.dropdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  /*background-color: rgba(120, 20, 180, 0.5);*/
}

.dropdown {
  position: relative;
}

.dropdown__box {
  content: "";
  position: absolute;
  top: 100%;left: 0;
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;

  display: none;
}

.dropdown__close-btn {
  position: absolute;
  top: 100%;
}

.dropdown__close-btn--none {
  display: none;
}

.dropdown__child {
  content: "";
  position: absolute;
  /*top: 100%;
  left: 0;*/
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;

  display: none;
}

.dropdown--focus .dropdown__box, 
.dropdown--over .dropdown__box,
.dropdown--focus .dropdown__child, 
.dropdown--over .dropdown__child {
  visibility: visible;
  opacity: 1;
  display: block;
}





