.page-header {
  position: relative;

  width: 100%;
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
  padding: $sizeS $sizeM 0 $sizeM;
  box-sizing: border-box;

  /*background-color: rgba(160, 200, 20, 0.5);*/
}

.page-header__logo {
  display: block;
  width: 100%;
  /*background-color: mistyrose;*/
}

.page-header__logo svg {
  display: block;
  margin: 0 auto;
}

.page-header__btn {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;

  width: 28px;
  height: 26px;

  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);

}

.page-header__btn--no-js {
  display: none;
}

.page-header__btn--open::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 4px;

  width: 20px;
  height: 2px;

  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  background-color: #ffffff;
}

.page-header__btn--close::before,
.page-header__btn--close::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 0;

  width: 27px;
  height: 2px;

  background-color: #ffffff;
}

.page-header__btn:active {
  background-color: #221f1f;
}

.page-header__btn--close::before {
  transform: rotate(45grad);
}

.page-header__btn--close::after {
  transform: rotate(-45grad);
}

.page-header__btn--close:hover::before,
.page-header__btn--close:focus::before,
.page-header__btn--close:hover::after,
.page-header__btn--close:focus::after,
.page-header__btn--open:hover::before,
.page-header__btn--open:focus::before {
  background-color: #d07058;
}

.page-header__btn--open:hover::before,
.page-header__btn--open:focus::before {
  box-shadow: 0 6px 0 0 #d07058, 0 12px 0 0 #d07058;
}

.page-header__btn--close:active::before,
.page-header__btn--close:active::after {
  background-color: #221f1f;background-color: #ffffff;
}

.page-header__btn--open:active::before {
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.page-header__contacts {
  margin: 0;
  padding: 0;
  padding-top: 10px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;

  /*background-color: rgba(10, 120, 180, 0.7);*/
}

.page-header__phone {
  display: block;
  margin-top: 8px;
  text-align: center;

  font-size: 22px;
  color: #ffffff;
  line-height: 24px;
  text-decoration: none;
}

@media (min-width: 600px) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__logo {
    display: block;
    margin-left: 35px;
    width: 155px;
  }

  .page-header__logo svg {
    margin: 0;
    margin-left: auto;
  }

  .page-header__btn {
    left: 20px;
    /*top: calc(100% - 26px);*/
  }

  .page-header__contacts {
    flex-basis: 172px;width: auto;
    align-self: center;
    margin: 0;
    margin-left: 10px;margin-left: auto;
    padding: 0;
    padding-left: 20px;

 
    text-align: right;
  }
}

@media (min-width: 900px) {
  .page-header__logo {
    width: 154px;
    margin-left: 0;
  }

  .page-header__btn {
    display: none;
  }

  .page-header__contacts {
    margin-left: auto;
    padding-left: 10px;
  }
}

