.search {
  position: relative;
}
.search__popup {
  position: relative;position: absolute;
  top: 0;
  left: 0;left: -20px;

  flex-grow: 1;
  width: 230px;width: 100%;width: 100vw;

  box-sizing: border-box;
  background-color: green;
}

.search__popup--closed {
  display: none;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.search__popup--opened {
  visibility: visible;
  opacity: 1;
  display: block;
}

/*.search--opened a  {
  width: auto;
  margin-right: 20px;

  background-color: olive;
}

.search--opened svg {
  margin-right: 0;
}

.search--opened span {
  font-size: 0
}*/

.search__form {
  padding: 20px 15px;padding: 15px 15px;
  padding-left: calc(20px + 33px + 20px);
  box-sizing: border-box;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.search__input-wrap {
  margin: 0;
  padding: 0;
}

.search__input {
  display: block;
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;

  font-size: 14px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.search__submit {
  position: absolute;
  top: 50%;
  left: 0;left: 20px;
  z-index: 8;

  width: auto;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  /*margin-bottom: 10px;*/
  /*padding: 0 30px;*/
  padding: 0 8px;
  box-sizing: border-box;

  color: #ffffff;

  border-radius: 50px;/*certain state*/
  border: none;
  border-bottom: 1px solid transparent;
  background-color: #fff;

  transform: translateY(-50%);
}

.search__submit:hover ,
.search__submit:focus {
  background-color: #fbded7;
}

.search__submit:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #f6b5a5;
}

.search__icon {
  display: block;
  fill: #000;
}

@media (min-width: 600px) {
  .search--opened {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 7;

  	display: flex;
  	align-items: center;
  	width: 100%;
  	padding-left: 20px;
  }
  /*.search--opened a  {
  	margin-right: 20px;

  	background-color: olive;
  }*/

  .search__popup {
  	/*position: relative;*/
    left: 0;
  	z-index: 5;

  	padding-top: 0;
  	/*width: auto;width: calc(100vw - 33px - 20px - 20px);*/

  	background-color: green;
  }

  .search__submit {
    /*left: -53px;*/
  }
}

@media (min-width: 900px) {
  .search--opened {
  	position: relative;
  	width: auto;
  	padding-left: 0;

  	z-index: 7;
  }
  /*.search__link {}*/
  /*.search--opened a {
  	flex-grow: 0;
  	width: 33px;width: auto;
  	margin: 0;
  	margin-right: 0;
  	padding-left: 8px;
    padding-right: 8px;

  	background-color: red
  }*/

  .search__popup {
  	position: absolute;
  	top: 100%;
  	right: 0;
    left: auto;

  	width: auto;
  	padding-top: 5px;
  }

  .search__form {
    padding: 20px 15px;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: #f8f7f4;
  }

  .search__input {
    width: 311px; 
  }

  .search__submit {
    top: auto;
    bottom: 100%;
    right: 0;
    left: auto;

    padding: 0 8px;

    transform: none;

    background-color: #f8f7f4;
  }
}




