.site-list {
  justify-content: flex-start;
  flex-basis: 62%;flex-basis: auto;
  min-width: 60%;
  flex-shrink: 1;
}

.site-list--closed {
  display: none;
}

.site-list__item {
  /*position: relative;*/

  
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;


  /*NEW:*/
  min-width: 32px;
  min-height: 32px;
  margin-bottom: 10px;
  box-sizing: border-box;

  border-radius: 50px;

  background-color: rgba(10, 180, 100, 0.5);
}


.site-list__dropdown {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 16px;

  border-radius: 5px;
}


/*.site-list__dropdown--no-js {
  visibility: visible;
  opacity: 1;
  display: block;display: flex;
}*/


.site-list__link--active {
  color: #ffffff;

  background-color: #d07058;
}

/*.site-list__link--hover {
  color: #000000;
  
  background-color: #ffffff;
}*/


@media (min-width: 600px) {
  .site-list {
  	position: absolute;
  	top: 100%;
  	left: 20px;

  	width: 280px;
  	flex-basis: 280px;
    padding-left: 0;
  	min-width: auto;
  }
  .site-list--closed {
    display: none;
  }/*ADDED*/
  .site-list__dropdown {
    top: 115%;top: 100%;
    /*border-radius: 5px;*/
  }
  .site-list__item {
    margin-right: 10px;
    justify-content: flex-start;
    /*padding-left: 13px;
    padding-right: 13px;*/
  }

  .site-list__link {
    width: auto;width: 100%;
    padding-left: 14px;
    padding-right: 14px;

  }

  .site-list__item:last-child {
	/*margin-right: 0;*/
  }
}

@media (min-width: 900px) {
  .site-list {
  	position: static;
  	width: auto;
  	flex-basis: auto;
  	min-width: 60%;
    padding-left: 10px;
  }
  .site-list--closed {
    display: flex;
  }

  .site-list {
    display: flex;flex-basis: auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: flex-start;
  }
}




