.user-list {
  flex-basis: 38%;flex-basis: auto;
  min-width: 28%;
  flex-shrink: 1;

  background-color: rgba(10, 140, 190, 0.5);
}

.user-list--closed {
  display: none;
}

.user-list__item {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-list__link  {
  height: auto;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-list__icon {
  display: block;
  margin-right: 8px;

  fill: #fff;
}

.user-list__link:hover .user-list__icon,
.user-list__link:focus .user-list__icon,
.user-list__link:active .user-list__icon {
  fill: #000;
}

.user-list__icon--incart {
  display: none;
}

.user-list__link:hover .user-list__icon--outcart,
.user-list__link:focus .user-list__icon--outcart,
.user-list__link:active .user-list__icon--outcart {
  display: none;
}

.user-list__link:hover .user-list__icon--incart,
.user-list__link:focus .user-list__icon--incart,
.user-list__link:active .user-list__icon--incart {
  display: block;
}

.user-list__link-text {
  display: block;
}




@media (min-width: 600px) {
  .user-list {
    display: flex;
    justify-content: flex-end;
  }

  .user-list--closed {
    display: flex;
  }

  .user-list__item {
    margin-left: 10px;
  }

  .user-list__item:first-child {
    margin-left: 0;
  }

  .user-list__link {
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;

    font-size: 0;
  }

  .user-list__icon {
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  .user-list__link {
    font-size: 14px;
  }

  .user-list__search {
    font-size: 0;
  }

  .user-list__icon--cart,
  .user-list__icon--login {
    margin-right: 8px;
  }


}
